.main{overflow: auto;}
.homeBody {
    padding: 15px;
}

.info {}
.info .infoItem{cursor:pointer;
    background: #2C345B;border-radius: 8px;height: 60px;padding: 10px 0;overflow: hidden;}
.info .infoBox{width: 140px;margin: 0 auto;}
.info .infoBox img{width: 48px;height: 48px;margin: 4px 0;}
.info .infoText{margin-left: 10px;font-size: 14px;color: #fff;}
.info .infoText p{line-height: 24px;margin-top: 0px;}
.info .infoText .num{font-size: 16px;margin-top: 7px;}
.info .infoItem.active{background: #2C345B;}
.info .infoItem.active p{color: #fff;}
.info .infoItem.active img{width: 38px;height: 38px;padding: 4px;border-radius: 5px;overflow: hidden;
    background-color: #fff;}

.homeBodyContent{margin-bottom:15px;padding: 15px;background: #2C345B;color: #fff;}
.homeBodyContent .topInfo{height: 36px;margin-bottom: 10px;border-bottom: 2px solid #EEEEEE;}
.homeBodyContent .topClass{width: 3px;height: 20px;margin-top: 5px;display: inline-block;background: #2A7FDA;}
.homeBodyContent .topClassText{line-height: 30px;margin-left:10px;color: #fff;}
.homeBodyContent .topClassText b{font-weight: normal;color: #ccc;}
.homeBodyContent .topClassMore{font-size: 12px;line-height: 30px;color: #ccc;cursor: pointer;}
.homeBodyContent .contentBox{margin-bottom: -16px}
.homeBodyContent .contentItem{height: 48px;line-height: 48px;overflow: hidden;border-bottom: 1px solid #F5F5F5;}
.homeBodyContent .contentItem:last-child{border: none;}
.homeBodyContent .class{font-weight: 500;}
.homeBodyContent .describe{font-weight: 400;}
.homeBodyContent .date{font-weight: 400;color: #9B9B9B;}
.notice .topInfo{border: none;}
.notice .noticeClassBox{padding-top: 44px;text-align: center; }
.notice .noticeClassBox .class{}
.notice .contentContentBox{margin-bottom: -25px; }
.notice .class{cursor: pointer;padding-bottom: 15px;border-bottom:2px solid #F5F5F5;}
.notice .active{color: #2A7FDA;border-bottom:2px solid #2A7FDA; }
.notice .contentItem{height: 48px;border: none;/*background: #F9FBFF;*/margin-bottom: 8px;}
.link {text-align: center;cursor: pointer;}
.link .class{margin-bottom: 40px;height: 70px;}
.link .linkBox{width: 90%;max-width: 44px;max-height: 44px;position: relative;margin: 0 auto;}
.link img{width: 100%;}
.link p{margin-top: 12px;height: 22px;overflow: hidden;font-size: 12px;}
.taskCount{margin: 25px 0;}
.taskCount .title{color: #fff;}
.taskCount .des{color: #B8C5D3;}
.taskCount .percentage{color: #4F82F9;}
.taskCount .layui-col-xs12{position: relative;}
.taskCount .layui-col-xs12 p{height: 8px;border-radius: 4px;position: absolute;left: 0;top: 15px;bottom: 0;}
.taskCount .bar{width: 100%;height: 8px;opacity: 0.5;border-radius: 4px;margin-top: 15px;margin-bottom: 20px;}

.total{margin-bottom: 0;}
.total .class{margin-bottom: 15px;padding-bottom:15px;border-bottom: 1px solid #F5F5F5;}
.total .class.noBorder{border: none;}
.total .topClassMore{color: #333;}
.total .topClassMore img{width: 8px;height: 6px;}
.total .layui-col-xs9{position: relative;}
.total img{width: 26px;height:26px;margin-right: 15px;}
.total .percentage{width: 26px;height:26px;text-align: center;font-size: 10px;line-height: 26px;color: #fff;position: absolute;left: 0;top: 0}
.total .title{color: #fff;margin-right: 15px;}
.total .des{color: #9B9B9B;}
.total .more{color: #9B9B9B;}
.total .layui-col-xs12{position: relative;}
.total .layui-col-xs12 p{height: 4px;border-radius: 4px;position: absolute;left: 0;top: 15px;bottom: 0;}
.total .bar{width: 100%;height: 4px;opacity: 0.5;border-radius: 4px;margin-top: 15px;margin-bottom: 10px;}
.total .start,.total .end{color: #fff;}

.dataView .contentContentBox{width: 100%;height: 300px;}
#dataViewMain{width: 100%;height: 100%;}
