/* 公用样式 */
.inputBox{
    padding:0;
}
.wd200{
    width:200px;
}
.wd400{
    width:400px;
}
.wd600{
    width:600px;
}
.wd650{
    width:650px;
}
.wd660{
    width:660px;
}
.wd950{
    width:950px;
}
.wd30p{
    width:30%;float: left;margin-right:10px;
}
.ht40{
    height:40px;
}
.danger{
    color:red;
}
.ml0{
    margin-left:0;
}
.mr10{
    margin-right:13px;
}
.pr10{
    padding-right:10px;
}
.mr25{
    margin-right:25px;
}
.mr60{
    margin-right:60px;
}
.mb25{
    margin-bottom:25px;
}
.mt30{
    margin-top:30px;
}
.pd30{
    padding:30px;
}
.pd25{
    padding:25px;
}
.bgwhite{
    background-color: white;
}
.blockTitle{
    color:#333333;
    font-size: 18px;
}
.blockTitle2{
    color:#BBBBBB;
    font-size:16px;
    margin-left:10px;
}
.chart{
    width:100%;
    height:100%;
}
.blockDiv4{
    width: 790px;
    height: 470px;
    float: left;
    box-sizing: border-box;
}
.centerTable{
    display: table;
    width:100%;
    height:100%;
    z-index: 2;
}
.centerCell{
    vertical-align:middle;
    display:table-cell;
    *position:absolute;
    *top:50%;
    *position:relative;
}
.center8{
    *position:relative;
    *top:-50%;
    margin:auto;
}
.mr5{
    margin-right: 5px;
}
/* 综合统计 */
.taskCount .title{color: #333;}
.taskCount .des{color: #B8C5D3;}
.taskCount .percentage{color: #4F82F9;}
.taskCount .layui-col-xs12{position: relative;}
.taskCount .layui-col-xs12 p{height: 10px;border-radius: 4px;position: absolute;left: 0;top: 15px;bottom: 0;}
.taskCount .bar{width: 100%;height: 10px;opacity: 0.5;border-radius: 4px;margin-top: 15px;margin-bottom: 20px;}

.total{margin: 25px 0;margin-bottom: 0;font-size: 16px;}
.total .class{margin-bottom: 15px;padding-bottom:15px;border-bottom: 1px solid #F5F5F5;}
.total .class.noBorder{border: none;}
.total .topClassMore{color: #333;}
.total .topClassMore img{width: 8px;height: 6px;}
.total .layui-col-xs9{position: relative;}
.total img{width: 42px;height:42px;margin-right: 15px;}
.total .percentage{width: 42px;height:42px;text-align: center;line-height: 42px;color: #fff;position: absolute;left: 0;top: 0}
.total .title{color: #333;margin-right: 15px;}
.total .des{color: #9B9B9B;}
.total .more{color: #9B9B9B;}
.total .layui-col-xs12{position: relative;}
.total .layui-col-xs12 p{height: 10px;border-radius: 4px;position: absolute;left: 0;top: 15px;bottom: 0;}
.total .bar{width: 100%;height: 10px;opacity: 0.5;border-radius: 4px;margin-top: 15px;margin-bottom: 10px;}
.total .start,.total .end{color: #333;}
/* 第一套主题修改 */
.firstTheme .primary{
    color:#2A7FDA;
}
.firstTheme .infoClassBox {
    border-bottom: 1px solid #eeeeee;
}
.firstTheme .infoClassBox .class{
    border-bottom: 2px solid transparent;
}
.firstTheme .infoClassBox .active{color: #2A7FDA;border-bottom:2px solid #2A7FDA; }
.firstTheme .homeBodyContent .topClassText{font-size: 18px;line-height: 30px;margin-left:10px;color: #333;font-weight: bold;}
.firstTheme .bodyFuncItem{
    cursor: pointer;
    margin-left: 64px;
    height: 59px;
    border-bottom:3px solid white;
}
.firstTheme .menuThird{
    width:100%;
    height:62px;
    background:rgba(255,255,255,1);
    box-shadow:0px 0px 10px 0px rgba(0,0,0,0.05);
    border-radius:4px;
}
.firstTheme .homeBodyContent .topClassText{
    font-weight: bold;
}
.notice .noticeClassBox .class{
    top: -2px;
}
.firstTheme .taskDiv {
    padding: 25px;
    display: flex;
    flex-direction: column;
    font-size: var(--font-size-primary);
}
.firstTheme .taskDiv .title {
    font-size: 18px;
    color: #333;
    margin-bottom: 15px;
}

.firstTheme .taskDiv .chartDiv {
    width: 100%;
    height: 100%;
}

.firstTheme .taskDiv .taskItem {
    margin-bottom: 35px;
}

.firstTheme .taskDiv .infoBox {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.firstTheme .taskDiv .name {
    color: #A9B2C2;
    font-size: 12px;
}

.firstTheme .taskDiv .des {
    color: #A9B2C2;
    font-size: 12px;
}

.firstTheme .taskDiv .des i {
    font-size: 14px;
    font-weight: bold;
}

.firstTheme .taskDiv .value {
    color: #3D3A59;
    font-size: 20px;
}

.firstTheme #taskChart0 {
    width: 210px;
    height: 210px;
}

.firstTheme #taskChart1 {
    width: 210px;
    height: 210px;
}
.firstTheme #taskChart2 {
    width: 210px;
    height: 210px;
}
.firstTheme .taskCountMain0{
 background-color:#EBF7F7;
}
.firstTheme .taskCountMain1{
    background-color:#EAF5FF;
}
.firstTheme .inline {
    margin-right:1px;
}
.firstTheme .infoClassBox .active{color: #2A7FDA;border-bottom:2px solid #2A7FDA; }
.firstTheme .bodyFuncItem:hover{
    border-bottom: 3px solid #2A7FDA;
    color: #2A7FDA;
}
.firstTheme .locationInfo li:nth-child(2) span:nth-child(1){
    color:#2A7FDA;
}
.firstTheme .primary{
    color:#2A7FDA;
}
.firstTheme .odd{
    /* background-color: #F9FBFF!important; */
}

.firstTheme .layui-table-header tr{
    /* background-color:#f2f2f2!important; */
}
.firstTheme .layui-table-header th{
    padding:16px 0;
}
.firstTheme .layui-form-select dl dd.layui-this{
    background-color:#2A7FDA;
}
.firstTheme .contentDiv{
    padding:35px;
}
.firstTheme .layui-btn-primary:hover{
    border-color: #2A7FDA;
}
.firstTheme .layui-form-radio>i:hover, .layui-form-radioed>i{
    color:#2A7FDA;
}
.firstTheme .layui-form-checked[lay-skin=primary] i{
    border-color: #2A7FDA!important;
    background-color: #2A7FDA;
    color: #fff;
}
.firstTheme .layui-form-checkbox[lay-skin=primary]:hover i{
    border-color: #2A7FDA!important;
}
.firstTheme ul.urp-cascader-child li.active{
    background-color:#2A7FDA;
    color:white;
}
.firstTheme .radiusHighTable .formTableDiv {
    padding: 15px 20px;
    border-radius: 0px 0px 8px 8px;
    border: 1px solid #EBEEF5;
    border-top: 0;
}
.firstTheme .radiusHighTable .layui-table-view{
    border-radius: 8px;
}
.firstTheme .radiusHighTable .layui-table-box{
    border-radius: 8px;
}
.firstTheme .radiusHighTable .layui-table th {
    height:55px;
}
.firstTheme .radiusHighTable .layui-table-view .layui-table td, .layui-table-view .layui-table th{
    padding:10px 0;
}
.firstTheme .radiusHighTable .layui-table-cell{
    height: auto;
    overflow: auto;
}
/* table嵌套selectbug */
.firstTheme .layui-table-view dl.layui-anim {
    position : fixed;
}
/* 承担的任务 */
.firstTheme .beartaskDiv {
}
.firstTheme .beartaskDiv .addDiv{
    border: 1px solid #DDDFE6;
    border-radius: 0 0 8px 8px;
    margin-top: -10px;
    border-top: 0;
    padding: 15px 20px;
}
.firstTheme .beartaskDiv .card{
    width:100%;
    border:1px solid #DDDFE6;
}
.firstTheme .radiusHighTable .layui-table-view{
    border-radius: 8px 8px 0 0;
}
.firstTheme .radiusHighTable .layui-table-box{
    border-radius: 8px 8px 0 0;
}
.firstTheme .userInfoTodo {
    background: white;
    border: 1px solid #dddfe6;
}
.firstTheme .btn {
    *display:inline;
    *zoom:1;
}
.firstTheme .tiOpenStatus {
    *display:inline;
    *zoom:1;
}
.firstTheme .tiIcon {
    *display:inline;
    *zoom:1;
}
.firstTheme .locationInfo{
    padding:18px 25px;
    border-bottom:1px solid #F6F6F6;
}
.firstTheme .inputMain2{margin-top: 10px;}
.firstTheme .inputMain2 .inputItem.inline{width: 290px;}
.firstTheme .inputMain2 .inputItem.inline .inputBox{margin-left: 15px;}
.firstTheme .inputMain2 .inputItem .readonly{background: #FCF9FC;}
.firstTheme .inputMain2 .inputItem .readonly input{background: #FCF9FC;color: #333;}
.firstTheme .inputMain2 .inputItem .inputText{padding-right:20px;box-sizing: border-box;}
.firstTheme .infoClassBox{padding: 25px;padding-bottom: 0;border-bottom:2px solid #DDDFE6;}
.firstTheme .infoClassBox .class{cursor: pointer;padding-bottom: 20px;border-bottom:2px solid #DDDFE6;margin:0 30px;margin-bottom: -2px;}

/* 第二套主题修改 */
.secondTheme .primary{
    color:#058669;
}
.secondTheme .infoClassBox {
    border-bottom: 1px solid #eeeeee;
}
.secondTheme .infoClassBox .class{
    border-bottom: 2px solid transparent;
}
.secondTheme .infoClassBox .active{color: #058669;border-bottom:2px solid #058669; }
.secondTheme .homeBodyContent .topClassText{font-size: 18px;line-height: 30px;margin-left:10px;color: #333;font-weight: bold;}
.secondTheme .bodyFuncItem{
    cursor: pointer;
    margin-left: 64px;
    height: 59px;
    border-bottom:3px solid white;
}
.secondTheme .menuThird{
    width:100%;
    height:62px;
    background:rgba(255,255,255,1);
    box-shadow:0px 0px 10px 0px rgba(0,0,0,0.05);
    border-radius:4px;
}
.secondTheme .homeBodyContent .topClassText{
    font-weight: bold;
}
.notice .noticeClassBox .class{
    top: -2px;
}
.secondTheme .taskDiv {
    padding: 25px;
    display: flex;
    flex-direction: column;
    font-size: var(--font-size-primary);
}
.secondTheme .taskDiv .title {
    font-size: 18px;
    color: #333;
    margin-bottom: 15px;
}

.secondTheme .taskDiv .chartDiv {
    width: 100%;
    height: 100%;
}

.secondTheme .taskDiv .taskItem {
    margin-bottom: 35px;
}

.secondTheme .taskDiv .infoBox {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.secondTheme .taskDiv .name {
    color: #A9B2C2;
    font-size: 12px;
}

.secondTheme .taskDiv .des {
    color: #A9B2C2;
    font-size: 12px;
}

.secondTheme .taskDiv .des i {
    font-size: 14px;
    font-weight: bold;
}

.secondTheme .taskDiv .value {
    color: #3D3A59;
    font-size: 20px;
}

.secondTheme #taskChart0 {
    width: 210px;
    height: 210px;
}

.secondTheme #taskChart1 {
    width: 210px;
    height: 210px;
}
.secondTheme #taskChart2 {
    width: 210px;
    height: 210px;
}
.secondTheme .taskCountMain0{
 background-color:#EBF7F7;
}
.secondTheme .taskCountMain1{
    background-color:#EAF5FF;
}
.secondTheme .inline {
    margin-right:1px;
}
.secondTheme .bodyFuncItem:hover{
    border-bottom: 3px solid #058669;
    color: #058669;
}
.secondTheme .locationInfo li:nth-child(2) span:nth-child(1){
    color:#058669;
}
.secondTheme .primary{
    color:#058669;
}
.secondTheme .odd{
    /* background-color: #F9FBFF!important; */
}

.secondTheme .layui-table-header tr{
    /* background-color:#f2f2f2!important; */
}
.secondTheme .layui-table-header th{
    padding:16px 0;
}
.secondTheme .layui-form-select dl dd.layui-this{
    background-color:#058669;
}
.secondTheme .contentDiv{
    padding:35px;
}
.secondTheme .layui-btn-primary:hover{
    border-color: #058669;
}
.secondTheme .layui-form-radio>i:hover, .layui-form-radioed>i{
    color:#058669;
}
.secondTheme .layui-form-checked[lay-skin=primary] i{
    border-color: #058669!important;
    background-color: #058669;
    color: #fff;
}
.secondTheme .layui-form-checkbox[lay-skin=primary]:hover i{
    border-color: #058669!important;
}

.secondTheme .radiusHighTable .formTableDiv {
    padding: 15px 20px;
    border-radius: 0px;
    border: 1px solid #EBEEF5;
    border-top: 0;
}
.secondTheme .radiusHighTable .layui-table-view{
    border-radius: 0px;
}
.secondTheme .radiusHighTable .layui-table-box{
    border-radius: 0px;
}
.secondTheme .radiusHighTable .layui-table th {
    height:55px;
}
.secondTheme .radiusHighTable .layui-table-view .layui-table td, .layui-table-view .layui-table th{
    padding:10px 0;
}
.secondTheme .radiusHighTable .layui-table-cell{
    height: auto;
    overflow: auto;
}
.secondTheme .notice .active{
    border-bottom: 3px solid #058669;
    font-weight: bold;
   
}
.secondTheme .userInfoTodo {
    background: white;
    border: 1px solid #dddfe6;
}
.secondTheme .dataView .contentContentBox{
    height:490px;
}
.secondTheme ul.urp-cascader-child li.active{
    background-color:#058669;
    color:white;
}
/* 左树右内容布局 */
.secondTheme .treeContentLayout{width: 100%;height: 100%;position: relative;}
.secondTheme .treeContentLayout .treeMain{width: 310px;height: 100%;position: absolute;top: 0;left: 0;}
.secondTheme .treeContentLayout .contentMain{height: 100%;position: absolute;top: 0;left: 330px;right: 0;}
/* 树 */
.secondTheme .tree{width: 100%;height: 100%;overflow: auto;background: #fff;box-shadow:0px 0px 10px 0px rgba(0,0,0,0.05);border-radius:4px;}
.secondTheme .treeItem{padding: 20px;}
.secondTheme .tiChild{display: none;}
.secondTheme .tiChild.open{display: block;}
.secondTheme .tiChild .treeItem{position: relative;padding-right: 0;padding-bottom: 0;padding-left: 40px;}
.secondTheme .tiInfo{height: 22px;cursor: pointer;overflow: hidden;z-index: 2;background-color: #fff;}
.secondTheme .tiOpenStatus{width: 18px;height: 18px;z-index: 2;float:left;margin-top: 2px;display: inline-block;}
.secondTheme .tiIcon{width: 18px;height: 18px;float:left;margin-top: 2px;display: inline-block;background: url("/img/access/first/file2_icon.png") no-repeat;}
.secondTheme .tiIcon.hadChild{background: url("/img/access/first/file_icon.png") no-repeat;}
.secondTheme .tiInfo.hadChild .tiOpenStatus{z-index: 2;background-image: url("/img/access/first/suo_icon.png");}
.secondTheme .tiHLine{width: 10px;height: 1px;float:left;margin: 5px;margin-top: 10.5px;background: #DDDFE6;}
.secondTheme .tiChild .tiVLine{width: 1px;height: 42px;z-index: 1;position: absolute;left: 48px;top: 0;background: #DDDFE6;}
.secondTheme .tiChild .tiVLine.hadChild{height: 20px;}
.secondTheme .tiText{line-height: 22px;margin-left:8px;float:left;font-size: 16px;}

.secondTheme .infoClassBox {
    border-bottom: 1px solid #eeeeee;
}
.secondTheme .infoClassBox .class{
    border-bottom: 2px solid transparent;
}
.secondTheme .infoClassBox .active{color: #058669;border-bottom:2px solid #058669; }
.secondTheme .homeBodyContent .topInfo{
    border-bottom:none;
}