.inline{
    display: inline-block;
}

/* 当前位置 */
.locationInfo{padding:0 15px;line-height: 44px;font-size: 14px;color: #9B9B9B;background:rgba(255,255,255,1);
    box-shadow:0px 3px 4px 0px rgba(0,0,0,0.05);border-bottom: 1px solid #DDDFE6;}
.locationInfo .text,.chat{margin-right: 5px}

/* 输入 */
.inputItem{width: 100%;line-height: 38px;position: relative;}
.inputItem .inputText{width: 20%;text-align: right;display: inline-block;color: #333;font-size: 14px;padding-right: 8px;}
.inputBox{width: 73%;border: 1px solid #DDDFE6;padding: 0 5px;border-radius: 5px;}
.inputBox input,select,textarea{border: none;width: 100%;height: 100%;background: transparent;}
.inputItem .inputBox select{border: none;width: 100%;height: 100%;}
.inputItem .textarea{padding: 5px;}
.inputItem .inputBox textarea{width: 100%;height: 100%;border: none;outline: none;}
.inputItem .inputBox img{width: 22px;height: 22px;position: absolute;right: 10px;top: 8px;cursor: pointer;}

/* 影藏花括号 */
.ms-controller{visibility: hidden !important;}

/* 布局 */
.layout {
    position: relative;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
}
.topBar{width: 100%;height: 50px;z-index: 10;position: absolute;top:0;left: 0;}
.menu{width: 100%;transition: top 0.5s;
    -moz-transition: top 0.5s; /* Firefox 4 */
    -webkit-transition: top 0.5s; /* Safari 和 Chrome */
    -o-transition: top 0.5s; /* Opera */
    /*overflow: hidden;*/
    /*overflow-X: auto;*/
    background: #3C454E;position: absolute;top: 0;left: 0;z-index: 6;}
.body{width: 100%;position: absolute;z-index: 1;left: 0;right: 0;top: 50px;bottom: 0;
    background: #fff;}
.main{position: absolute;left: 0;right: 0;top: 0px;bottom: 0;
    background: #F4F5F7;transition: left 0.5s;
    -moz-transition: left 0.5s; /* Firefox 4 */
    -webkit-transition: left 0.5s; /* Safari 和 Chrome */
    -o-transition: left 0.5s; /* Opera */
    overflow: auto;
}

.showMenu .menu{top: 50px;}
.showMenu .main{top: 40px}

/*.topLogo{width: 175px;overflow: hidden;height: 42px;padding-left: 35px;margin: 23px 0;display: inline-block;}*/
/*.topLogo .logo{width: 42px;height: 42px;}*/
/*.topLogo .comName{line-height: 42px;font-size:30px;font-weight: bold;color: #fff;margin-left: 10px;}*/
.topBarBox{width: 100%;background: #35393C;position: absolute;left: 0;top: 0;z-index: 10;}
.topMenu{padding-left: 15px;font-size: 18px;}
.topMenu .menuSHBtn{height: 14px;width: 14px;padding: 18px 0;cursor: pointer;}
/*.topMenu .secondMenus{display: inline-block;}*/
/*.topMenu a{text-decoration: none;color: #fff;}*/
/*.topMenu .menuLink.active{color: #058669;}*/
/*.topMenu .menuItem{display: inline-block;padding: 32px 0;position: relative;margin-left: 60px;cursor: pointer;}*/
/*.topMenu .menuItem span{color: #fff;font-size: 18px;}*/
/*.topMenu .menuItem:hover .moreMenu{display: block;}*/
/*.topMenu .moreMenu{width: 200px;display: none;padding: 5px 0;position: absolute;left: -50%;top: 88px;margin-left:-20px;background: #3C454E;border-radius: 4px;}*/
/*.topMenu .more{margin-left: 6px;}*/
/*.topMenu .moreMItem{text-align: center;line-height: 58px;}*/
/*.topMenu .moreMItem.active,.topMenu .moreMItem:hover {background: #058669;}*/

/*.menus{position: absolute;top: 0px;bottom: 0;left: 0;width: 100%;overflow: auto;}*/
.menus{background: #35393C;position: relative;z-index: 5;}
.menus .menuItem{display: inline-block;position: relative;z-index: 5;}
.menus .menuBox{height: 44px;padding:0 10px;position: relative;}
.menus .menuBox.active .menuText{color: #058669;}
.menus .menuIcon{width: 10px;height: 10px;
    background: url("/img/access/second/zhankai_icon.png") no-repeat;position: absolute;top: 17px;right: 10px;}
.menus .menuStates img{width: 15px;height: 10px;position: absolute;top: 30px;right: 15px;}
.menus .menuText{text-decoration: none;line-height: 44px;font-size: 14px;color: #fff;cursor: pointer;}
.menus .menuText.hadChild{padding-right: 14px;}
/*.menus .menuText:hover{color: #fff;}*/
.menuChild{width: 150px;position: absolute;top: 44px;left: 0;
    background: #fff;box-shadow:0px 2px 20px 0px rgba(0,0,0,0.1);
    border-radius:4px;display: none;}
.showMenu .menuChild.active{display: block;}
.menuChild .menuItem{display: block;}
.menuChild .menuText{width: 100%;display: block;font-size: 14px;color: #3C454E;}
.menuChild .menuChild{display: none;position: unset;box-shadow: none;}
.menuChild .menuChild .menuBox{padding-left: 30px;}

.otherBox{height: 30px;margin-top: 10px;}
.otherBox .fucList{margin-top: 8px;}
.otherBox .fucItem{margin-left: 20px;cursor: pointer;}
.otherBox .fucItem img{width: 14px;height: 14px;}
.otherBox .userInfo{height: 30px;margin-left: 20px;position:relative;}
.otherBox .userInfoBox{cursor: pointer;}
.otherBox .userInfoBox span{font-size: 18px;color: #fff;line-height: 42px;margin-left: 10px;}
.otherBox .userInfoBox .headPic{width: 20px;height: 20px;margin-top: 5px;margin-left: 10px;}
.otherBox .userInfoBox .loginSelect{width: 6px;height: 2px;margin-left: 6px;margin-top: 14px;}
.userInfo:hover .userInfoTodo{display: block;}
.userInfoTodo{width: 156px;display: none;z-index: 11;position: absolute;top: 65px;right: 0;background:rgba(255,255,255,1);box-shadow:0px 2px 10px 0px rgba(0,0,0,0.08);border-radius:4px;border:1px solid rgba(221,223,230,1);}
.userInfoTodo .userInfoTodoItem{line-height: 52px;text-align: center;}
.userInfoTodo .userInfoTodoItem.line{border-top:1px solid #F5F5F5;}

.topSearch{height: 30px;margin-left: 10px;}
.topSearch .inputItem{line-height: 30px;}
.topSearch .inputBox{width: 170px;height: 30px;border-radius: 15px;background: #fff;}
.topSearch .inputBox input{height: 30px;left: 10px;}
.topSearch .inputBox img{width: 16px;height: 16px;top: 7px;}

/* 日历 */
.calendar{background: #fff;border-radius: 5px;}
.calendar .top{width: 100%;padding: 24px 0;box-shadow: 0 0 10px 0 rgba(0,0,0,0.05);}
.calendar .top .topMain{width: 86%;height: 100%;margin: 0 auto;position: relative;}
.calendar .top .iBtn{width: 28px;height: 28px;position: absolute;top: 0;cursor: pointer;}
.calendar .top .pre{left: 0;}
.calendar .top .next{right: 0;}
.calendar .top p{text-align: center;font-size: 22px;color: #111;line-height: 28px;}
.calendar .weeks{width: 86%;height: 20px;margin: 0 auto;margin-top: 25px;}
.calendar .weeks .item{width: 14.285%;color: #666;text-align: center;font-size: 14px;line-height: 20px;}
.calendar .days{width: 86%;height: 250px;margin: 0 auto;margin-top:10px;padding-bottom: 10px;}
.calendar .days .item{width: 14.285%;height: 40px;cursor: pointer;line-height: 40px;;color: #111;text-align: center;font-size: 14px;}
.calendar .days .item.noDay{cursor: auto;}
.calendar .days .day.active{width: 100%;max-width: 40px;margin: 0 auto;
    background: #058669;border-radius: 50%;color: #fff;}

/* 按钮 */
.btn{line-height: 30px;display: inline-block;text-decoration: none;font-size: 14px;color: #fff;padding: 0 15px;
    background: #058669;border-radius: 4px;outline: none;border: none;cursor: pointer;}
.btn.primary{background: #fff;border:1px solid #DDDFE6;color: #333;}
.btn.green{background: #07AD88;}
.btn.text{background:none;color: #058669;}
.btn.text.primary{border: none;color: #058669;}
.btn:hover{color: revert;}

/* 单选 */
.radioBox{height: auto;}
.radioBox img{width: 20px;height: 20px;}
.radioBox p{cursor: pointer;margin-right: 20px;}
.radioBox .text{margin-left: 5px;line-height: 20px;font-size: 14px;}

/* 复选 */
.checkBox{height: auto;}
.checkBox img{width: 20px;height: 20px;}
.checkBox p{cursor: pointer;margin-right: 8px;}
.checkBox .text{margin-left: 5px;line-height: 20px;font-size: 14px;}