/* mobile补丁 start*/
.main{
    -webkit-overflow-scrolling: touch;
}
/* 通用样式 */
.ht40{
    height:40px;
}
.wd200{
    width:200px;
}
.wd400{
    width:400px;
}
.wd600{
    width:600px;
}
.wd650{
    width:650px;
}
.wd950{
    width:950px;
}
.wd30p{
    width:30%;float: left;margin-right:10px;
}
.ht40{
    height:40px;
}
.danger{
    color:red;
}
.mr10{
    margin-right:13px;
}
.mr25{
    margin-right:25px;
}
.mb25{
    margin-bottom:25px;
}
.mt30{
    margin-top:30px;
}
.pd30{
    padding:30px;
}
.pd25{
    padding:25px;
}
.mg10{
    margin:10px;
}
.pd10{
    padding:10px;
}
.bgwhite{
    background-color: white;
}
.blockTitle{
    color:#333333;
    font-size: 16px;
}
.blockTitle2{
    color:#BBBBBB;
    font-size:14px;
    margin-left:10px;
}
.chart{
    width:100%;
    height:90%;
}
.blockDiv4{
    width: 100%;
    height: 470px;
    float: left;
    box-sizing: border-box;
}
.homeBodyContent{
    border-radius: 4px;
    box-shadow: 0px 2px 5px #ccc;
    background-color:white;
    padding:15px;
    margin-bottom:15px;
    box-sizing: border-box;
    padding-bottom:25px;
}
.noshadow{
    box-shadow: none;
}
.shadow{
    box-shadow: 0px 2px 5px #ccc;
    border-bottom:0;
    padding-top: 2px;
}
.shadow .class{
    border-bottom:2px solid white;
}
.planCom{
    background: #fff;
    padding: 15px;
    border-radius: 4px;
    box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.05);
}
.planCom .layui-form-label{
    padding-left:0;
}
.autoform{

}
.autoform .layui-form-item{
    width: 100%;
}
.autoform .layui-form-label{
    width:70px;
}
.autoform .layui-input-block{
    margin-left: 100px;
}
/* 第一套主题修改 */
.firstTheme .primary{
    color:#2A7FDA;
}
.firstTheme .infoClassBox .active{color: #2A7FDA;border-bottom:2px solid #2A7FDA!important; }
.firstTheme .locationInfo li:nth-child(2) span:nth-child(1){
    color:#2A7FDA;
}
.firstTheme .odd{
    /* background-color: #F9FBFF!important; */
}

.firstTheme .layui-table-header tr{
    /* background-color:#f2f2f2!important; */
}
.firstTheme .layui-table-header th{
    padding:16px 0;
}
.firstTheme .layui-form-select dl dd.layui-this{
    background-color:#2A7FDA;
}
.firstTheme .contentDiv{
    padding:35px;
}
.firstTheme .layui-btn-primary:hover{
    border-color: #2A7FDA;
}
.firstTheme .layui-form-radio>i:hover, .layui-form-radioed>i{
    color:#2A7FDA;
}
.firstTheme .layui-form-checked[lay-skin=primary] i{
    border-color: #2A7FDA!important;
    background-color: #2A7FDA;
    color: #fff;
}
.firstTheme .layui-form-checkbox[lay-skin=primary]:hover i{
    border-color: #2A7FDA!important;
}
.firstTheme .taskCount{margin: 25px 0;font-size: 16px;}
.firstTheme .taskCount .title{color: #333;}
.firstTheme .taskCount .des{color: #B8C5D3;}
.firstTheme .taskCount .percentage{color: #4F82F9;}
.firstTheme .taskCount .layui-col-xs12{position: relative;}
.firstTheme .taskCount .layui-col-xs12 p{height: 10px;border-radius: 4px;position: absolute;left: 0;top: 15px;bottom: 0;}
.firstTheme .taskCount .bar{width: 100%;height: 10px;opacity: 0.5;border-radius: 4px;margin-top: 15px;margin-bottom: 20px;}

.firstTheme .total{margin: 25px 0;margin-bottom: 0;font-size: 16px;}
.firstTheme .total .class{margin-bottom: 15px;padding-bottom:15px;border-bottom: 1px solid #F5F5F5;}
.firstTheme .total .class.noBorder{border: none;}
.firstTheme .total .topClassMore{color: #333;}
.firstTheme .total .topClassMore img{width: 8px;height: 6px;}
.firstTheme .total .layui-col-xs9{position: relative;}
.firstTheme .total img{width: 26px;height:26px;margin-right: 15px;}
.firstTheme .total .percentage{font-size: 12px;width: 26px;height:26px;text-align: center;line-height: 26px;color: #fff;position: absolute;left: 0;top: 0}
.firstTheme .total .title{color: #333;margin-right: 15px;}
.firstTheme .total .des{color: #9B9B9B;}
.firstTheme .total .more{color: #9B9B9B;}
.firstTheme .total .layui-col-xs12{position: relative;}
.firstTheme .total .layui-col-xs12 p{height: 5px;border-radius: 4px;position: absolute;left: 0;top: 15px;bottom: 0;}
.firstTheme .total .bar{width: 100%;height: 5px;opacity: 0.5;border-radius: 4px;margin-top: 15px;margin-bottom: 10px;}
.firstTheme .total .start,.total .end{color: #333;}

/* 第二套主题修改 */
.secondTheme .primary{
    color:#058669;
}
.secondTheme .infoClassBox .active{color: #058669;border-bottom:2px solid #058669!important; }
.secondTheme .locationInfo li:nth-child(2) span:nth-child(1){
    color:#058669;
}
.secondTheme .odd{
    /* background-color: #F9FBFF!important; */
}

.secondTheme .layui-table-header tr{
    /* background-color:#f2f2f2!important; */
}
.secondTheme .layui-table-header th{
    padding:16px 0;
}
.secondTheme .layui-form-select dl dd.layui-this{
    background-color:#058669;
}
.secondTheme .contentDiv{
    padding:35px;
}
.secondTheme .layui-btn-primary:hover{
    border-color: #058669;
}
.secondTheme .layui-form-radio>i:hover, .layui-form-radioed>i{
    color:#058669;
}
.secondTheme .layui-form-checked[lay-skin=primary] i{
    border-color: #058669!important;
    background-color: #058669;
    color: #fff;
}
.secondTheme .layui-form-checkbox[lay-skin=primary]:hover i{
    border-color: #058669!important;
}
.secondTheme .taskCount{margin: 25px 0;font-size: 16px;}
.secondTheme .taskCount .title{color: #333;}
.secondTheme .taskCount .des{color: #B8C5D3;}
.secondTheme .taskCount .percentage{color: #4F82F9;}
.secondTheme .taskCount .layui-col-xs12{position: relative;}
.secondTheme .taskCount .layui-col-xs12 p{height: 10px;border-radius: 4px;position: absolute;left: 0;top: 15px;bottom: 0;}
.secondTheme .taskCount .bar{width: 100%;height: 10px;opacity: 0.5;border-radius: 4px;margin-top: 15px;margin-bottom: 20px;}

.secondTheme .total{margin: 25px 0;margin-bottom: 0;font-size: 16px;}
.secondTheme .total .class{margin-bottom: 15px;padding-bottom:15px;border-bottom: 1px solid #F5F5F5;}
.secondTheme .total .class.noBorder{border: none;}
.secondTheme .total .topClassMore{color: #333;}
.secondTheme .total .topClassMore img{width: 8px;height: 6px;}
.secondTheme .total .layui-col-xs9{position: relative;}
.secondTheme .total img{width: 26px;height:26px;margin-right: 15px;}
.secondTheme .total .percentage{font-size: 12px;width: 26px;height:26px;text-align: center;line-height: 26px;color: #fff;position: absolute;left: 0;top: 0}
.secondTheme .total .title{color: #333;margin-right: 15px;}
.secondTheme .total .des{color: #9B9B9B;}
.secondTheme .total .more{color: #9B9B9B;}
.secondTheme .total .layui-col-xs12{position: relative;}
.secondTheme .total .layui-col-xs12 p{height: 5px;border-radius: 4px;position: absolute;left: 0;top: 15px;bottom: 0;}
.secondTheme .total .bar{width: 100%;height: 5px;opacity: 0.5;border-radius: 4px;margin-top: 15px;margin-bottom: 10px;}
.secondTheme .total .start,.total .end{color: #333;}
/* 第三套主题修改 */
.thirdTheme .layui-form-label{
    color:white;
}
.thirdTheme .chartDiv{
    background-color: #2C345B;
    border-radius: 4px;
    float: left;
    padding:10px;
    box-sizing: border-box;
    margin-bottom:15px;
}
.thirdTheme .blockTitle{
    font-size: 16px;
    color:white;
}

.thirdTheme .primary{
    color:#2A7FDA;
}
.thirdTheme .infoClassBox .active{color: #2A7FDA;border-bottom:2px solid #2A7FDA!important; }
.thirdTheme .locationInfo li:nth-child(2) span:nth-child(1){
    color:#2A7FDA;
}
.thirdTheme .odd{
    /* background-color: #F9FBFF!important; */
}

.thirdTheme .layui-table-header tr{
    /* background-color:#f2f2f2!important; */
}
.thirdTheme .layui-table-header th{
    padding:16px 0;
}
.thirdTheme .layui-form-select dl dd.layui-this{
    background-color:#2A7FDA;
}
.thirdTheme .contentDiv{
    padding:35px;
}
.thirdTheme .layui-btn-primary:hover{
    border-color: #2A7FDA;
}
.thirdTheme .layui-form-radio>i:hover, .layui-form-radioed>i{
    color:#2A7FDA;
}
.thirdTheme .layui-form-checked[lay-skin=primary] i{
    border-color: #2A7FDA!important;
    background-color: #2A7FDA;
    color: #fff;
}
.thirdTheme .layui-form-checkbox[lay-skin=primary]:hover i{
    border-color: #2A7FDA!important;
}
.thirdTheme .taskCount{margin: 25px 0;font-size: 16px;}
.thirdTheme .taskCount .title{color: #333;}
.thirdTheme .taskCount .des{color: #B8C5D3;}
.thirdTheme .taskCount .percentage{color: #4F82F9;}
.thirdTheme .taskCount .layui-col-xs12{position: relative;}
.thirdTheme .taskCount .layui-col-xs12 p{height: 10px;border-radius: 4px;position: absolute;left: 0;top: 15px;bottom: 0;}
.thirdTheme .taskCount .bar{width: 100%;height: 10px;opacity: 0.5;border-radius: 4px;margin-top: 15px;margin-bottom: 20px;}

.thirdTheme .total{margin: 25px 0;margin-bottom: 0;font-size: 16px;}
.thirdTheme .total .class{margin-bottom: 15px;padding-bottom:15px;border-bottom: 1px solid #F5F5F5;}
.thirdTheme .total .class.noBorder{border: none;}
.thirdTheme .total .topClassMore{color: #333;}
.thirdTheme .total .topClassMore img{width: 8px;height: 6px;}
.thirdTheme .total .layui-col-xs9{position: relative;}
.thirdTheme .total img{width: 26px;height:26px;margin-right: 15px;}
.thirdTheme .total .percentage{font-size: 12px;width: 26px;height:26px;text-align: center;line-height: 26px;color: #fff;position: absolute;left: 0;top: 0}
.thirdTheme .total .title{color: #333;margin-right: 15px;}
.thirdTheme .total .des{color: #9B9B9B;}
.thirdTheme .total .more{color: #9B9B9B;}
.thirdTheme .total .layui-col-xs12{position: relative;}
.thirdTheme .total .layui-col-xs12 p{height: 5px;border-radius: 4px;position: absolute;left: 0;top: 15px;bottom: 0;}
.thirdTheme .total .bar{width: 100%;height: 5px;opacity: 0.5;border-radius: 4px;margin-top: 15px;margin-bottom: 10px;}
.thirdTheme .total .start,.total .end{color: #333;}
.thirdTheme .planCom{
    background-color: #2C345B;
}
.thirdTheme input[disabled],.thirdTheme input:disabled{
    background-color:#262C4E;
}
.thirdTheme .layui-input, .thirdTheme .layui-select, .thirdTheme .layui-textarea{
    border-color: #565B85;
}
.thirdTheme .layui-select-disabled .layui-disabled{
    border-color: #565B85!important;
}
.thirdTheme .layui-form-label{
    color:white;
}
.thirdTheme .layui-input, .thirdTheme .layui-select, .thirdTheme .layui-textarea{
    background-color:transparent;
    color:white;
}
.thirdTheme input::-webkit-input-placeholder,.thirdTheme textarea::-webkit-input-placeholder { /* WebKit browsers 适配谷歌 */
    color: #565B85;
}
.thirdTheme input::-moz-placeholder,.thirdTheme textarea:-moz-placeholder { /* Mozilla Firefox 19+ 适配火狐 */
    color: #565B85;
}
.thirdTheme input:-ms-input-placeholder,.thirdTheme textarea:-ms-input-placeholder { /* Internet Explorer 10+  适配ie*/
    color: #565B85;
}
.thirdTheme .layui-table-page .layui-laypage a, .thirdTheme .layui-table-page .layui-laypage span{
    color:white;
}
.thirdTheme .layui-table-page .layui-laypage span.layui-laypage-curr em{
    color: #2A7FDA;
}
.thirdTheme .layui-form-radio{
    color:white;
}
.thirdTheme .layui-form-checkbox[lay-skin=primary] span{
    color:white;
}
.thirdTheme .layui-btn-primary{
    background-color:transparent;
    color:white;
}
.thirdTheme input[disabled],.thirdTheme input:disabled{
    background-color:#262C4E;
}
.thirdTheme .layui-input, .thirdTheme .layui-select, .thirdTheme .layui-textarea{
    border-color: #565B85;
}
.thirdTheme .layui-select-disabled .layui-disabled{
    border-color: #565B85!important;
}
.thirdTheme .layui-table td,.thirdTheme  .layui-table th,.thirdTheme  .layui-table-col-set,
.thirdTheme  .layui-table-fixed-r,.thirdTheme  .layui-table-grid-down,.thirdTheme  .layui-table-header,.thirdTheme  .layui-table-page,
.thirdTheme  .layui-table-tips-main,.thirdTheme  .layui-table-tool,.thirdTheme  .layui-table-total,
.thirdTheme  .layui-table-view,
.thirdTheme  .layui-table[lay-skin=line],
.thirdTheme  .layui-table[lay-skin=row]{
    border-color: #565B85;
}
.thirdTheme .layui-laypage a,
.thirdTheme  .layui-laypage button,
.thirdTheme  .layui-laypage input,
.thirdTheme  .layui-laypage select,
.thirdTheme  .layui-laypage span{
    border-color: #565B85;
}
.thirdTheme .layui-table td,
.thirdTheme  .layui-table th,
.thirdTheme  .layui-table-col-set,
.thirdTheme  .layui-table-fixed-r,
.thirdTheme  .layui-table-grid-down,
.thirdTheme  .layui-table-header,
.thirdTheme  .layui-table-page,
.thirdTheme  .layui-table-tips-main,
.thirdTheme  .layui-table-tool,
.thirdTheme  .layui-table-total,
.thirdTheme  .layui-table-view,
.thirdTheme  .layui-table[lay-skin=line],
.thirdTheme  .layui-table[lay-skin=row]{
    color:white;
}
.thirdTheme .total .title,.thirdTheme .total .start,.thirdTheme .total .end{
    color:white;
}
.thirdTheme .total .class{border-bottom: 1px solid transparent;}