body{background: #F8F8F8;}
.top{width: 100%;height: 245px;
    background: url("/img/access/second/mobile/system_bg.png") center no-repeat;}
.top img{width: 100%;display: inline-block;}

.title{
    text-align: center;
    font-size: 22px;
    color: #fff;
    padding-top: 80px;
    margin: 0;font-family:PingFangSC-Medium,PingFang SC;
    font-weight:500;
}

.appName{
    text-align: center;
    font-size: 18px;
    color: #fff;
    padding-top: 15px;font-family:PingFangSC-Medium,PingFang SC;
    font-weight:500;
}

.apps{
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
}

.nav{
    width: 100%;
}
.appItem{
    padding: 15px;
    display: block;
    text-align: center;
    margin-bottom: 20px;
    background: #fff;
}
.appItem .appContentBox{
    width: 100%;
    display: flex;
}
.appItem .appTypeTitle h2{width: 70px;}
.appItem .appTypeLink{width: 200px;}
.appItem.last p{line-height: 80px;}
.appItem img{width: 42px;height: 42px;display: block;margin: 0 auto;margin-top: 20px;}
.appItem h2{margin-top: 7px;font-size: 14px;color: #333;}
.appItem p{margin-top: 8px;width: 50%;text-align: center;}
.appItem a{font-size: 16px;color: #333;text-decoration: none;}
.appItem a:hover{color: initial !important;}
.notice{height: 22px;line-height: 22px;color: #9B9B9B;}
.notice img{width: 22px;height: 22px;display: inline-block;margin: 0;}
.notice .nTitle{margin-left: 10px;}
.notice .more{margin-left: 10px;}
