<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>我的工作台</title>

  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>

  <meta http-equiv="Expires" content="0">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Cache-control" content="no-cache">
  <meta http-equiv="Cache" content="no-cache">

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/js/lib/layui/css/layui.css">
  <link rel="stylesheet" href="/css/layout.second.mobile.css">
  <link rel="stylesheet" href="/css/project/index.second.mobile.css">
  <link rel="stylesheet" href="/css/mobilepath.css">
  <script>
    var __themeName = 'second';
  </script>
  <script src="/js/lib/avalon/avalon.js"></script>
  <script src="/js/lib/layui/layui.js"></script><script src="/js/lib/jquery.js"></script>
  <script src="/js/lib/tool/echarts.js"></script>
</head>
<body class="secondTheme">
  <div class="layout" :controller="layout">
    <div class="topBar">
      <div class="topBarBox">
        <!-- 顶部logo -->
        <div class="topMenu left">
          <img onclick="menuToggleShow()" class="menuSHBtn left" src="/img/access/second/home_list_icon.png" alt="">
        </div>
        <div class="otherBox left">
          <div class="topSearch left">
            <div class="inputItem">
              <div class="inputBox icon inline">
                <input type="text" placeholder="输入关键词搜索…">
                <img src="/img/access/second/search_icon.png" alt="">
              </div>
            </div>
          </div>
          <ul class="fucList left">
            <li class="fucItem left">
              <a href="/views/nav.second.mobile.html">
                <img class="left" src="/img/access/second/home_icon.png" alt="">
              </a>
            </li>
            <li class="fucItem left">
              <img class="left" onclick="toggleTheme()" src="/img/access/second/theme_icon.png" alt="">
            </li>
          </ul>
          <div class="userInfo left">
            <div class="userInfoBox">
              <a href="/views/login.second.mobile.html">
                <img class="headPic left" src="/img/access/second/home_headpic_icon.png" alt="">
              </a>
              <img class="loginSelect left" src="/img/access/second/zhankai_icon.png" alt="">
            </div>
          </div>
          <p class="clearFloat"></p>
        </div>
        <p class="clearFloat"></p>
      </div>
    </div>
    <!-- 菜单 -->
    <div class="menu">
      <ul class="menus" :controller="menus" :css="{width:@width}">
        <li class="menuItem" :for="(i, menu) in @menus">
          <div class="menuBox" :class="[(@menu.open && @menu.url===@active ? 'active':'')]">
            <p :if="@menu.child.length" :click="@clickMenuCall(@menu,2)" class="menuText hadChild">{{ @menu.text }}</p>
            <a :if="!@menu.child.length" class="menuText" :attr="{href:@menu.url}">{{ @menu.text }}</a>
            <span class="menuIcon" :if="@menu.child.length"></span>
          </div>
          <!-- 二级菜单 -->
          <ul class="menuChild" :class="[(@menu.open ? 'active':'')]">
            <li class="menuItem" :for="(chI, chMenu) in @menu.child">
              <div class="menuBox" :class="[(@chMenu.url===active ? 'active':'')]">
                <p :if="@chMenu.child.length" :click="@clickMenuCall(@chMenu,2)" class="menuText">{{ @chMenu.text }}</p>
                <a :if="!@chMenu.child.length" class="menuText" :attr="{href:@chMenu.url}">{{ @chMenu.text }}</a>
                <span class="menuIcon" :if="@chMenu.child.length"></span>
              </div>
              <!-- 三级菜单 -->
              <ul class="menuChild" :for="(sI, sMenu) in @chMenu.child" :class="[(@chMenu.url===active ? 'active':'')]" :visible="@chMenu.open">
                <li class="menuItem">
                  <div class="menuBox" :class="[(@sMenu.url===active ? 'active':'')]">
                    <span class="menuIcon" :if="@sMenu.child.length"></span>
                    <a class="menuText" :attr="{href:@sMenu.url}">{{ @sMenu.text }}</a>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="body">
      <div class="main">
        <!-- 当前位置 -->
        <ul class="locationInfo add" :controller="locationInfo">
          <li class="inline" :for="(i, menu) in @locationInfo">
            <span class="text">{{ @menu.text }}</span>
            <span class="chat" :if="@i!==@locationInfo.length-1">/</span>
          </li>
        </ul>
        <div class="contentBody" style="background-color: transparent;">
          <!-- 填写 -->
          <div class="homeBody">
            <!-- 填写 -->
            <div class="homeBodyContent" style="height:420px;width:100%;">
              <div class="blockTitle">质量问题数统计 <span class="blockTitle2">2018年1-6月</span></div>
              <div id="chart1" class="chart"></div>
            </div>
            <div class="homeBodyContent" style="height:420px;width:100%;">
              <div class="blockTitle">已归零质量问题统计 <span class="blockTitle2">（按质量问题原因统计）</span></div>
              <div id="chart2" class="chart"></div>
            </div>
            <div class="homeBodyContent" style="height:320px;width:100%;">
              <div class="blockTitle">2019年业务完成度实时统计</div>
              <div id="chart3" class="chart"></div>
            </div>
            <div id="chart4" class="homeBodyContent" style="height:400px;width:100%;">
              <div class="blockTitle">综合统计</div>
              <div class="taskCount total" style="padding: 10px 10px;">
                <ul class="layui-row contentBox">
                  <li class="layui-row class" change-class="">
                    <div class="layui-col-xs9"><img class="img" alt=""
                        src="/img/access/first/home_data1_icon.png"><span class="percentage">24%</span><span
                        class="title">访问总次数</span><span class="des">8370</span></div>
                    <div class="layui-col-xs3" align="right"><span class="more">...</span></div>
                    <div class="layui-col-xs12">
                      <div class="bar" style="background: rgb(148, 229, 203);"></div>
                      <p style="width: 24%; background: rgb(41, 203, 151);"></p>
                      <div class="layui-col-xs9"><span class="start">0</span></div>
                      <div class="layui-col-xs3" align="right"><span class="end">9000</span></div>
                    </div>
                  </li>
                  <li class="layui-row class" change-class="">
                    <div class="layui-col-xs9"><img class="img" alt=""
                        src="/img/access/first/home_data2_icon.png"><span class="percentage">43%</span><span
                        class="title">在线人数</span><span class="des">3128</span></div>
                    <div class="layui-col-xs3" align="right"><span class="more">...</span></div>
                    <div class="layui-col-xs12">
                      <div class="bar" style="background: rgb(160, 185, 247);"></div>
                      <p style="width: 43%; background: rgb(64, 114, 238);"></p>
                      <div class="layui-col-xs9"><span class="start">0</span></div>
                      <div class="layui-col-xs3" align="right"><span class="end">3500</span></div>
                    </div>
                  </li>
                  <li class="layui-row class noBorder" change-class="noBorder">
                    <div class="layui-col-xs9"><img class="img" alt=""
                        src="/img/access/first/home_data3_icon.png"><span class="percentage">78%</span><span
                        class="title">CPU使用</span><span class="des">高</span></div>
                    <div class="layui-col-xs3" align="right"><span class="more">...</span></div>
                    <div class="layui-col-xs12">
                      <div class="bar" style="background: rgb(218, 172, 251);"></div>
                      <p style="width: 78%; background: rgb(181, 88, 246);"></p>
                      <div class="layui-col-xs9"><span class="start">低</span></div>
                      <div class="layui-col-xs3" align="right"><span class="end">高</span></div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="/js/compose/layout.js"></script>
  <script src="/js/compose/menus.js"></script>
  <script>
    var locationInfo = avalon.define({
      $id: 'locationInfo',
      locationInfo: []
    });
    // 初始化菜单选中
    menus.$watch('onReady', function () {
      locationInfo.locationInfo = this.location.$model;
    });
    var infoClass = avalon.define({
      $id: 'infoClass',
      classActive: '图表',
      clickMenuCall: function (menu) {
        this.classActive = menu.classStr;
      }
    });
    //图表
    var option1 = {
      toolbox: {
        feature: {
          restore: {},
          saveAsImage: {},
          // dataView:{},
          // dataZoom:{},
          // magicType:{},
          // brush:{},
        }
      },
      grid: {
        top: 30
      },
      color: ['#6084FD', '#60AEFD', '#8EE7FD', '#8FFDF1', '#D4D4D4', '#B7FBA1', '#85DE68', '#5EBD3E'],
      tooltip: {
        trigger: 'item',
        formatter: '{a} <br/>{b}: {c} ({d}%)'
      },
      legend: {
        bottom: 10,
        width: 300,
        data: ['操作', '器材', '软件', '设计', '管理', '设备', '工艺', '其它'],
        itemGap: 30,
        width: 350
      },
      series: [
        {
          name: '占比',
          type: 'pie',
          hoverOffset: 30,
          radius: ['30%', '40%'],
          avoidLabelOverlap: false,
          label: {
            show: false,
            position: 'center'
          },
          emphasis: {
            label: {
              show: true,
              fontSize: '30',
              fontWeight: 'bold'
            }

          },
          itemStyle: {
            borderWidth: 3,
            borderColor: '#fff'
          },
          labelLine: {
            show: false
          },
          data: [
            { value: 111, name: '操作' },
            { value: 112, name: '器材' },
            { value: 113, name: '软件' },
            { value: 114, name: '设计' },
            { value: 115, name: '管理' },
            { value: 116, name: '设备' },
            { value: 117, name: '工艺' },
            { value: 118, name: '其它' }
          ]
        }
      ]
    };
    var option2 = {
      color: ['#6D71FF', '#5CB2FF'],
      toolbox: {
        feature: {
          restore: {},
          saveAsImage: {},
          // dataView:{},
          // dataZoom:{},
          // magicType:{},
          // brush:{},
        }
      },
      tooltip: {
        trigger: 'axis',
        axisPointer: {            // 坐标轴指示器，坐标轴触发有效
          type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
        }
      },
      legend: {
        data: []
      },
      grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
      },
      xAxis: [
        {
          type: 'category',
          data: ['外包外购', '操作', '设计', '软件', '工艺', '管理', '环境', '其他']
        }
      ],
      yAxis: [
        {
          type: 'value'
        }
      ],
      series: [

        {
          name: '2017年1-6月',
          type: 'bar',
          stack: 'www',
          data: [11, 22, 13, 33, 14, 22, 15, 9]
        },

        {
          name: '2017年7-12月',
          type: 'bar',
          stack: 'eee',
          data: [22, 11, 14, 15, 33, 44, 7]
        }
      ]
    };
    var option3 = {
      toolbox: {
        feature: {
          restore: {},
          saveAsImage: {},
          // dataView:{},
          // dataZoom:{},
          // magicType:{},
          // brush:{},
        }
      },
      color: ['#5791FA'],
      title: {
        text: ''
      },
      tooltip: {
        trigger: 'axis',
        axisPointer: {
          type: 'cross',
          label: {
            backgroundColor: '#E7EDFF'
          }
        },
        formatter: '{a} {c}%<br/>{b}:00'
      },
      legend: {
        data: []
      },
      grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
      },
      xAxis: [
        {
          type: 'category',
          boundaryGap: false,
          data: ['00', '02', '04', '06', '08', '10', '12', '14', '16', '18', '20', '22', '24']
        }
      ],
      yAxis: [
        {
          type: 'value'
        }
      ],
      series: [
        {
          name: '完成',
          type: 'line',
          smooth: 0.3,
          stack: '总量',
          areaStyle: {
            color: '#E7EDFF'
          },
          data: [100, 25, 33, 28, 60, 28, 25, 26, 30, 35, 40, 45, 30]
        },
      ]
    };
    window.onload = function () {
      var chart1 = echarts.init(document.getElementById('chart1'), 'customed');
      chart1.setOption(option1);
      var chart2 = echarts.init(document.getElementById('chart2'), 'customed');
      chart2.setOption(option2);
      var chart3 = echarts.init(document.getElementById('chart3'), 'customed');
      chart3.setOption(option3);

      layout.$watch('menuShow', function observe(a, b) {
        setTimeout(function () {
          chart1.resize();
          chart2.resize();
          chart3.resize();
        }, 1000 * 0.6);
      });
      window.onresize = function () {
        chart1.resize();
        chart2.resize();
        chart3.resize();
      };
    }
   
  </script>
</body>
</html>