.main{
    padding: 15px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.contentBody{
    height: 100%;
    background: #fff;
    overflow: auto;
}
.locationInfo.add {padding-bottom: 25px;border-bottom: 1px solid #F5F5F5;}

.infoClassBox{width: 100%;height: 40px;overflow: hidden;line-height: 40px;
    background: #fff;margin:0 -15px 15px -15px;padding:0 15px;border-bottom:2px solid #DDDFE6;}
.infoClassBox .class{cursor: pointer;padding-bottom: 0px;border-bottom:2px solid #DDDFE6;margin-right:10px;margin-bottom: -2px;}
.infoClassBox .active{color: #2A7FDA;border-bottom:2px solid #2A7FDA!important; }

.inputMain .btnBox{width:100%;box-shadow: 0px 0px 5px #ccc;padding: 10px 25px;margin:-25px;margin-top: 15px;background: #fff;text-align: center;}
.inputMain .btnBox .btn{margin: 0 10px;}
/* 添加 */
.inputMain{padding: 10px;background: #fff;}
.inputMain .inputItem{margin-top: 12px;}
.inputMain .inputItem.noMargin{margin-top: 0;}
.inputMain .inputItem .inputBox{width: 350px;margin-left: 25px;}
.inputMain .inputItem .inputText{width: 150px;display: inline-block;text-align: right;}
.inputMain .inputItem .first{width: 172px;text-align: left;}
.inputMain .inputItem .layui-table .inputBox{width: 80%;height: 40px;}
.inputMain .inputItem .layui-table-cell{height: auto;}
.inputMain .inputItem .inputText span{color: #E91126;font-size: 16px;line-height: 40px;margin-right: 4px;}
.inputMain .inputItem .tips{color: #E91126;font-size: 16px;margin-left: 50px;}
.inputMain .inputItem .radioBox{padding-top: 5px;margin-left: 25px;}
.inputMain .inputItem .checkBox{height: auto;padding-top: 5px;margin-left: 25px;}
.inputMain .inputItem .checkBox p{padding: 8px 0;}
.inputMain .inputItem .textarea{width: 100%;height: 130px;line-height: normal;margin-left: 0}
.inputTableBox {}
.inputTableItem {border:1px solid rgba(221,223,230,1);padding-bottom: 15px}
.inputTableItem .topInfo{line-height: 38px;border-bottom:1px solid rgba(221,223,230,1); background: #DDDFE6;}
.inputTableItem .index{width: 30%;text-align: center;}
.inputTableItem .type{width: 60%;}
.inputTableItem .icon{width: 10%;}
.inputTableItem .icon img{width: 14px;height: 14px;}
.inputTableItem .inputItem .inputText{width: 38%;}
.inputTableItem .inputItem .inputBox{width: 52%;margin-left: 0;}

/* 通用样式 */
.wd200{
    width:200px;
}
.wd400{
    width:400px;
}
.wd600{
    width:600px;
}
.wd650{
    width:650px;
}
.wd950{
    width:950px;
}
.wd30p{
    width:30%;float: left;margin-right:10px;
}
.ht40{
    height:40px;
}
.danger{
    color:red;
}
.primary{
    color:#2A7FDA;
}
.mr10{
    margin-right:13px;
}
.mr25{
    margin-right:25px;
}
.mb25{
    margin-bottom:25px;
}
.mt30{
    margin-top:30px;
}
.pd30{
    padding:30px;
}
.pd25{
    padding:25px;
}
.bgwhite{
    background-color: white;
}
.blockTitle{
    color:#333333;
    font-size: 16px;
}
.blockTitle2{
    color:#BBBBBB;
    font-size:14px;
    margin-left:10px;
}
.chart{
    width:100%;
    height:100%;
}
.blockDiv4{
    width: 100%;
    height: 470px;
    float: left;
    box-sizing: border-box;
}
.homeBodyContent{
    border-radius: 4px;
    box-shadow: 0px 2px 5px #ccc;
    background-color:white;
    padding:15px;
    margin-bottom:15px;
    box-sizing: border-box;
    padding-bottom:25px;
}
.noshadow{
    box-shadow: none;
}
.shadow{
    box-shadow: 0px 2px 5px #ccc;
    border-bottom:0;
    padding-top: 2px;
}
.shadow .class{
    border-bottom:2px solid white;
}
.planCom{
    background: #fff;
    padding: 15px;
    border-radius: 4px;
    box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.05);
}
.planCom .layui-form-label{
    padding-left:0;
}
/* 第一套主题修改 */
.locationInfo li:nth-child(2) span:nth-child(1){
    color:#2A7FDA;
}
.firstTheme .odd{
    /* background-color: #F9FBFF!important; */
}

.firstTheme .layui-table-header tr{
    /* background-color:#f2f2f2!important; */
}
.firstTheme .layui-table-header th{
    padding:16px 0;
}
.firstTheme .layui-form-select dl dd.layui-this{
    background-color:#2A7FDA;
}
.firstTheme .contentDiv{
    padding:35px;
}
.firstTheme .layui-btn-primary:hover{
    border-color: #2A7FDA;
}
.firstTheme .layui-form-radio>i:hover, .layui-form-radioed>i{
    color:#2A7FDA;
}
.firstTheme .layui-form-checked[lay-skin=primary] i{
    border-color: #2A7FDA!important;
    background-color: #2A7FDA;
    color: #fff;
}
.firstTheme .layui-form-checkbox[lay-skin=primary]:hover i{
    border-color: #2A7FDA!important;
}
.taskCount{margin: 25px 0;font-size: 16px;}
.taskCount .title{color: #333;}
.taskCount .des{color: #B8C5D3;}
.taskCount .percentage{color: #4F82F9;}
.taskCount .layui-col-xs12{position: relative;}
.taskCount .layui-col-xs12 p{height: 10px;border-radius: 4px;position: absolute;left: 0;top: 15px;bottom: 0;}
.taskCount .bar{width: 100%;height: 10px;opacity: 0.5;border-radius: 4px;margin-top: 15px;margin-bottom: 20px;}

.total{margin: 25px 0;margin-bottom: 0;font-size: 16px;}
.total .class{margin-bottom: 15px;padding-bottom:15px;border-bottom: 1px solid #F5F5F5;}
.total .class.noBorder{border: none;}
.total .topClassMore{color: #333;}
.total .topClassMore img{width: 8px;height: 6px;}
.total .layui-col-xs9{position: relative;}
.total img{width: 26px;height:26px;margin-right: 15px;}
.total .percentage{font-size: 12px;width: 26px;height:26px;text-align: center;line-height: 26px;color: #fff;position: absolute;left: 0;top: 0}
.total .title{color: #333;margin-right: 15px;}
.total .des{color: #9B9B9B;}
.total .more{color: #9B9B9B;}
.total .layui-col-xs12{position: relative;}
.total .layui-col-xs12 p{height: 5px;border-radius: 4px;position: absolute;left: 0;top: 15px;bottom: 0;}
.total .bar{width: 100%;height: 5px;opacity: 0.5;border-radius: 4px;margin-top: 15px;margin-bottom: 10px;}
.total .start,.total .end{color: #333;}