.main{
    padding: 15px;
    overflow: auto;
}
.contentBody{
    height: 100%;
    background: #fff;
    overflow: auto;
}
.locationInfo.add {padding-bottom: 25px;border-bottom: 1px solid #F5F5F5;}

.btnBox{padding:15px;padding-bottom: 5px;background: #fff;}

.table{background: #fff;height: 78%;padding:0 15px;}
.table a{color: #2A7FDA;}
.table .icon{width: 20px;height: 20px;cursor: pointer;margin:0 5px;display: inline-block;background-size: 100%;}
.table .editIcon{background-image: url("/img/access/first/edit_icon.png");}
.table .delIcon{background-image: url("/img/access/first/delete_icon.png");}
.table .addIcon{background-image: url("/img/access/first/add_icon.png");}
