<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>我的工作台</title>

  <meta http-equiv="X-UA-Compatible" content="IE=8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>

  <meta http-equiv="Expires" content="0">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Cache-control" content="no-cache">
  <meta http-equiv="Cache" content="no-cache">

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/js/lib/layui/css/layui.css">
  <link rel="stylesheet" href="/css/layout.css">
  <link rel="stylesheet" href="/css/home.first.css">
  <!-- <script src="/js/lib/avalon/avalon.js"></script> -->
  <script src="/js/lib/layui/layui.js"></script>
  <script src="/js/lib/tool/echarts.js"></script>
</head>
<body class="firstTheme">
  <div id="dataViewMain" style="width:500px;height:500px;">
<script>
    // 指定图表的配置项和数据
    var option = {
      title: {
        text: ''
      },
      toolbox: {
        feature: {
          saveAsImage: {}
        }
      },
      color: ['#2A7FDA'],
      tooltip: {
        trigger: 'axis',
        axisPointer: {
          type: 'line',
          label: {
            formatter: '',
            borderColor: '#2A7FDA',
            backgroundColor: '#2A7FDA',
            padding: [5, 0, 0, 0]
          },
          lineStyle: {
            color: '#2A7FDA',
            shadowBlur: {
              shadowColor: '#2A7FDA',
              shadowBlur: 100
            }
          },
          shadowBlur: {
            shadowColor: '#2A7FDA',
            shadowBlur: 100
          }
        },
        backgroundColor: '#2A7FDA',
        formatter: '{c0}',
        padding: [10, 20],
        extraCssText: 'box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);'
      },
      axisPointer: {},
      xAxis: {
        type: 'category',
        data: ['一', '二', '三', '四', '五', '六', '日'],
        nameLocation: 'start',
      },
      yAxis: {
        type: 'value',
      },
      series: [
        {
          data: [820, 932, 901, 934, 1290, 1330, 1320],
          type: 'line',
          smooth: true
        }]
    };
    // avalon与echart有冲突
    setTimeout(function(){
      var dataViewMain = echarts.init(document.getElementById('dataViewMain'),'customed');
      dataViewMain.setOption(option);
    },100);
  </script>
</body>
</html>