<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>我的工作台</title>

  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>

  <meta http-equiv="Expires" content="0">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Cache-control" content="no-cache">
  <meta http-equiv="Cache" content="no-cache">

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/js/lib/layui/css/layui.css">
  <link rel="stylesheet" href="/css/layout.third.mobile.css">
  <link rel="stylesheet" href="/css/organization/index.third.mobile.css">
  <script>
    var __themeName = 'third';
  </script>
  <script src="/js/lib/avalon/avalon.js"></script>
  <script src="/js/lib/layui/layui.js"></script><script src="/js/lib/jquery.js"></script>
</head>
<body class="thirdTheme">
  <div class="layout" :controller="layout">
    <div class="menuMain">
      <div class="menu">
        <!-- 顶部logo -->
        <div class="topLogo">
          <a href="/views/nav.first.mobile.html">
            <img class="logo left" src="/img/access/third/home_logo_icon.png" alt="">
            <span class="comName left">CASC</span>
          </a>
          <p class="clearFloat"></p>
        </div>
        <ul class="menus ms-controller" :controller="menus">
          <!-- 一级菜单 -->
          <li class="menuItem" :for="(i, menu) in @menus">
            <div class="menuBox" :class="[(@menu.url===active ? 'active':'')]">
              <img class="menuIcon" :if="@menu.icon!==''" :attr="{src:@menu.icon}" alt="">
              <p :if="@menu.child.length" :click="@clickMenuCall(@menu,1)" class="menuText">{{ @menu.text }}</p>
              <a :if="!@menu.child.length" class="menuText" :attr="{href:@menu.url}">{{ @menu.text }}</a>
              <div :if="@menu.child.length" class="menuStates">
                <img :if="@menu.open" src="/img/access/first/home_open_icon.png" alt="">
                <img :if="!@menu.open" src="/img/access/first/home_close_icon.png" alt="">
              </div>
            </div>
            <!-- 二级菜单 -->
            <ul class="menuChild" :for="(chI, chMenu) in @menu.child" :visible="@menu.open">
              <li class="menuItem">
                <div class="menuBox" :class="[(@chMenu.url===active ? 'active':'')]">
                  <img class="menuIcon" :if="@chMenu.icon!==''" :attr="{src:@chMenu.icon}" alt="">
                  <p :if="@chMenu.child.length" :click="@clickMenuCall(@chMenu,2)" class="menuText">{{ @chMenu.text }}</p>
                  <a :if="!@chMenu.child.length" class="menuText" :attr="{href:@chMenu.url}">{{ @chMenu.text }}</a>
                  <div :if="@chMenu.child.length" class="menuStates">
                    <img :if="@chMenu.open" src="/img/access/first/home_open_icon.png" alt="">
                    <img :if="!@chMenu.open" src="/img/access/first/home_close_icon.png" alt="">
                  </div>
                </div>
                <!-- 三级菜单 -->
                <!--							<ul class="menuChild" :for="(sI, sMenu) in @chMenu.child" :visible="@chMenu.open">-->
                <!--								<li class="menuItem">-->
                <!--									<div class="menuBox" :class="[(@sMenu.url===active ? 'active':'')]">-->
                <!--										<img class="menuIcon" :if="@sMenu.icon!==''" :attr="{src:@sMenu.icon}" alt="">-->
                <!--										<a class="menuText" :attr="{href:@sMenu.url}">{{ @sMenu.text }}</a>-->
                <!--									</div>-->
                <!--								</li>-->
                <!--							</ul>-->
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="closeMenu" onclick="menuToggleShow()"></div>
    </div>
    <div class="body">
      <div class="topBar">
        <div class="tbHello left">
          <img onclick="menuToggleShow()" class="left" src="/img/access/third/mobile/home_list_icon.png" alt="">
          <span class="left">您好，电机电源精细化管理系统</span>
        </div>
        <div class="otherBox right">
          <ul class="fucList left">
            <li class="fucItem left">
              <a href="/views/nav.first.mobile.html">
                <img class="left" src="/img/access/third/mobile/home_icon.png" alt="">
              </a>
            </li>
            <li class="fucItem left" onclick="toggleTheme()">
              <img class="left" src="/img/access/third/theme_icon.png" alt="">
            </li>
          </ul>
          <div class="userInfo left">
            <a href="/views/login.first.mobile.html">
              <img class="headPic left" src="/img/access/third/mobile/home_headpic_icon.png" alt="">
              <img class="loginSelect left" src="/img/access/third/mobile/home_select_icon1.png" alt="">
            </a>
          </div>
          <p class="clearFloat"></p>
        </div>
        <p class="clearFloat"></p>
      </div>
      <div class="main">
        <div class="homeBody">
          <ul class="bodyFuncList" :controller="secondMenus" :if="@secondMenus.length">
            <li class="bodyFuncItem left" ms-for="(index, menu) in @secondMenus"
                :class="[(@active===@menu.text ? 'active':''),(@index===0 ? 'first':'')]">
              <a class="menuText" :attr="{href:@menu.url}">{{ @menu.text }}</a>
            </li>
            <li class="clearFloat"></li>
          </ul>
          <!-- 当前位置 -->
          <ul class="locationInfo ms-controller" :controller="locationInfo">
            <li class="inline" :for="(i, menu) in @locationInfo">
              <span class="text">{{ @menu.text }}</span>
              <span class="chat" :if="@i!==@locationInfo.length-1">/</span>
            </li>
          </ul>
          <div class="contentBody">
            <!-- 填写 -->
            <form class="inputMain" action="">
              <div class="inputItem">
                <label class="inputText">归属公司</label>
                <div class="inputBox inline">
                  <select name="interest" lay-filter="aihao">
                    <option value="0">山东省总公司</option>
                  </select>
                </div>
              </div>
              <div class="inputItem">
                <label class="inputText">归属部门</label>
                <div class="inputBox inline">
                  <select name="interest" lay-filter="aihao">
                    <option value="0">公司领导</option>
                  </select>
                </div>
              </div>
              <div class="inputItem">
                <label class="inputText"><span>*</span>工号</label>
                <div class="inputBox inline">
                  <input type="text" placeholder="请输入工号">
                </div>
              </div>
              <div class="inputItem">
                <label class="inputText"><span>*</span>姓名</label>
                <div class="inputBox inline">
                  <input type="text" autocomplete="off" placeholder="请输入姓名">
                </div>
              </div>
              <div class="inputItem">
                <label class="inputText"><span>*</span>密码</label>
                <div class="inputBox inline">
                  <input type="password" autocomplete="new-password" placeholder="请输入密码">
                </div>
              </div>
              <div class="inputItem">
                <label class="inputText"><span>*</span>确认密码</label>
                <div class="inputBox inline">
                  <input type="password" placeholder="请再次确认密码">
                </div>
              </div>
              <div class="inputItem">
                <label class="inputText">邮箱</label>
                <div class="inputBox inline">
                  <input type="text" placeholder="请输入邮箱">
                </div>
              </div>
              <div class="inputItem">
                <label class="inputText">电话</label>
                <div class="inputBox inline">
                  <input type="text" placeholder="请输入电话">
                </div>
              </div>
              <div class="inputItem">
                <label class="inputText">手机</label>
                <div class="inputBox inline">
                  <input type="text" placeholder="请输入手机">
                </div>
              </div>
              <div class="inputItem">
                <label class="left inputText"><span>*</span>是否允许登录</label>
                <div class="left radioBox" :controller="canLogin">
                  <p class="inline" :click="@canLoginCall(true)">
                    <img :if="@canLogin===true" class="left" src="/img/access/third/radio_select_icon.png" alt="">
                    <img :if="@canLogin===false" class="left" src="/img/access/third/radio_icon.png" alt="">
                    <span class="text left">是</span>
                  </p>
                  <p class="inline" :click="@canLoginCall(false)">
                    <img :if="@canLogin===true" class="left" src="/img/access/third/radio_icon.png" alt="">
                    <img :if="@canLogin===false" class="left" src="/img/access/third/radio_select_icon.png" alt="">
                    <span class="text left">否</span>
                  </p>
                  <div class="clearFloat"></div>
                </div>
                <p class="left tips">注：“是”代表此账号允许登录，“否”则表此帐号不允许登录</p>
                <div class="clearFloat"></div>
              </div>
              <div class="inputItem">
                <label class="inputText">用户类型</label>
                <div class="inputBox inline">
                  <select name="interest" lay-filter="aihao">
                    <option value="0">普通用户</option>
                  </select>
                </div>
              </div>
              <div class="inputItem">
                <label class="left inputText"><span>*</span>用户角色</label>
                <div class="left checkBox" :controller="userRules">
                  <p class="inline" :for="(index, rules) in @userAllRules" :click="@userRulesCall(rules)">
                    <img :if="@userRules.indexOf(rules)>-1" class="left" src="/img/access/third/checkbox_select_icon.png" alt="">
                    <img :if="@userRules.indexOf(rules)===-1" class="left" src="/img/access/third/checkbox_icon.png" alt="">
                    <span class="text left">{{ @rules }}</span>
                  </p>
                </div>
                <div class="clearFloat"></div>
              </div>
              <div class="inputItem">
                <label class="inputText left">备注</label>
                <div class="inputBox textarea left">
                  <textarea autosize="off" cols="30" rows="10" placeholder="请输入备注"></textarea>
                </div>
                <div class="clearFloat"></div>
              </div>
              <div class="btnBox">
                <button class="btn">保存</button>
                <a href="./list.third.mobile.html" class="btn primary">取消</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="/js/compose/layout.js"></script>
  <script src="/js/compose/menus.js"></script>
  <script>
    var locationInfo = avalon.define({
      $id: 'locationInfo',
      locationInfo: []
    });
    // 初始化菜单选中
    menus.$watch('onReady', function () {
      locationInfo.locationInfo = this.location.$model;
    });

    var canLogin = avalon.define({
      $id: 'canLogin',
      canLogin: false,
      canLoginCall: function (b) {
        this.canLogin = b;
      }
    });

    var userRules = avalon.define({
      $id: 'userRules',
      userRules: ['普通用户'],
      userAllRules: ['普通用户', '本公司管理员', '本部门管理员', '部门管理员', '公司管理员', '系统管理员', '济南市管理员'],
      userRulesCall: function (u) {
        var index = this.userRules.indexOf(u);
        if (index > -1) {
          this.userRules.splice(index, 1);
        } else {
          this.userRules.push(u);
        }
      }
    });
  </script>
</body>
</html>