<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>我的工作台</title>

  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>

  <meta http-equiv="Expires" content="0">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Cache-control" content="no-cache">
  <meta http-equiv="Cache" content="no-cache">

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/js/lib/layui/css/layui.css">
  <link rel="stylesheet" href="/css/layout.third.css">
  <link rel="stylesheet" href="/css/organization/index.third.css">
  <link rel="stylesheet" href="/css/ie8path.css">
  <!-- 大于等于IE8小于等于IE10 -->
  <!--[if (gte IE 8)&(lte IE 10)]>
  <script src="/js/patch/ie7.js"></script>
  <script src="/js/patch/json3.min.js"></script>
  <script src="/js/patch/promise.js"></script>
  <![endif]-->
  <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
  <!--[if lt IE 9]>
  <script src="/js/patch/html5.min.js"></script>
  <script src="/js/patch/respond.min.js"></script>
  <![endif]-->
  <script>
    var __themeName = 'third';
  </script>
  <script src="/js/lib/avalon/avalon.js"></script>
  <script src="/js/lib/layui/layui.js"></script>
</head>
<body class="thirdTheme">
  <div class="layout showMenu" :controller="layout">
    <div class="topBar">
      <div class="topBarBox">
        <!-- 顶部logo -->
        <div class="topLogo left">
          <a href="/views/nav.third.html">
            <img class="logo left" src="/img/access/third/home_logo_icon.png" alt="">
            <span class="comName left">CASC</span>
          </a>
          <p class="clearFloat"></p>
        </div>
        <div class="topMenu left">
          <!-- 菜单 -->
          <ul class="menus ms-controller" :controller="menus">
            <!-- 一级菜单 -->
            <li class="menuItem left" :for="(i, menu) in @menus" :class="{noMarLeft:@i===0}">
              <div class="menuBox one" :class="[(@menu.url===active ? 'active':'')]">
                <img class="menuIcon" :if="@menu.icon!==''" :attr="{src:@menu.icon}" alt="">
                <span :if="@menu.child.length" :click="@clickMenuCall(@menu,1)" class="menuText">{{ @menu.text }}</span>
                <a :if="!@menu.child.length" class="menuText" :attr="{href:@menu.url}">{{ @menu.text }}</a>
              </div>
              <!-- 二级菜单 -->
              <div class="menuTwoBox" :if="@menu.child.length">
                <ul class="menuChild">
                  <li class="menuItem" :for="(chI, chMenu) in @menu.child">
                    <div class="menuBox two" :class="[(@chMenu.url===active ? 'active':'')]">
                      <img class="menuIcon" :if="@chMenu.icon!==''" :attr="{src:@chMenu.icon}" alt="">
                      <span :if="@chMenu.child.length" :click="@clickMenuCall(@chMenu,2)" class="menuText">{{ @chMenu.text }}</span>
                      <a :if="!@chMenu.child.length" class="menuText" :attr="{href:@chMenu.url}">{{ @chMenu.text }}</a>
                    </div>
                    <!-- 三级菜单 -->
                    <div class="thirdBox" :if="@chMenu.child.length">
                      <ul class="menuChild">
                        <li class="menuItem" :for="(sI, sMenu) in @chMenu.child">
                          <div class="menuBox three" :class="[(@sMenu.url===active ? 'active':'')]">
                            <a class="menuText" :attr="{href:@sMenu.url}">{{ @sMenu.text }}</a>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
        <div class="otherBox right">
          <ul class="fucList left">
            <li class="fucItem left">
              <a href="/views/nav.third.html">
                <img class="left" src="/img/access/third/home_icon.png" alt="">
              </a>
            </li>
            <li class="fucItem left">
              <img class="left" onclick="toggleTheme()" src="/img/access/third/theme_icon.png" alt="">
            </li>
          </ul>
          <div class="userInfo left">
            <div class="userInfoBox">
              <img class="headPic left" src="/img/access/third/home_headpic_icon.png" alt="">
              <span class="left">系统管理员</span>
              <img class="loginSelect left" src="/img/access/third/zhankai_icon.png" alt="">
            </div>
            <ul class="userInfoTodo">
              <li class="userInfoTodoItem">个人信息</li>
              <li class="userInfoTodoItem">修改密码</li>
              <li class="userInfoTodoItem">我的通知</li>
              <li class="userInfoTodoItem line"><a href="/views/login.third.html"><span>退出</span></a></li>
            </ul>
          </div>
          <p class="clearFloat"></p>
        </div>
        <p class="clearFloat"></p>
      </div>
    </div>
    <div class="body">
      <div class="main">
        <div class="homeBody">
          <!-- 当前位置 -->
          <ul class="locationInfo add ms-controller" :controller="locationInfo">
            <li class="inline">当前位置：</li>
            <li class="inline" :for="(i, menu) in @locationInfo">
              <span class="text">{{ @menu.text }}</span>
              <span class="chat" :if="@i!==@locationInfo.length-1">></span>
            </li>
          </ul>
          <div class="homeMainBox">
            <!-- 填写 -->
            <form class="layui-form wd950 notinline2 mt30" action="">
              <div class="layui-form-item">
                <label class="layui-form-label">报工状态</label>
                <div class="layui-input-block">
                  <span class="primary mr60">未报工</span>
                  <span class="mr25" style="color:white;">检验状态</span>
                  <span class="primary mr60">互检中</span>
                  <button class="layui-btn layui-btn-normal">互检完成</button>
                  <button class="layui-btn layui-btn-normal">快速报工</button>
                </div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label">技术要求</label>
                <div class="layui-input-block">
                  <div class="inline" style="width:32%;box-sizing: border-box;">
                    <select name="interest" lay-filter="aihao1" class="inline">
                        <option value="0">工序1</option>
                    </select>
                </div>
                <div class="inline" style="width:33%;box-sizing: border-box;">
                    <select name="interest" lay-filter="aihao2" class="inline">
                        <option value="0">请选择</option>
                    </select>
                </div>
                <div class="inline" style="width:33%;box-sizing: border-box;">
                    <select name="interest" lay-filter="aihao3" class="inline">
                        <option value="0">请选择</option>
                    </select>
                </div>
                </div>
              </div>
  
              <div class="layui-form-item">
                <label class="layui-form-label"><span class="danger">*</span>检查结果</label>
                <div class="layui-input-block radiusHighTable">
                  <table id="table"></table>
                </div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label">执行状态</label>
                <div class="layui-input-block">
                  <input type="text" class="layui-input" readonly value="填报完成">
                </div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label">备注</label>
                <div class="layui-input-block">
                  <textarea autosize="off" class="layui-textarea" cols="30" rows="10" placeholder="请输入备注"></textarea>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/html" id="nameTpl">
    <input type="text" class="layui-input" placeholder="请输入" readonly value="{{ d.name }}">
</script>
<script type="text/html" id="valTpl">
    <input type="text" class="layui-input" placeholder="请输入" value="{{ d.val }}">
</script>
  <script src="/js/compose/layout.js"></script>
  <script src="/js/compose/menus.js"></script>
  <script>
    var locationInfo = avalon.define({
      $id: 'locationInfo',
      locationInfo: []
    });

    // 初始化菜单选中
    menus.$watch('onReady', function () {
      locationInfo.locationInfo = this.location.$model;
    });

    layui.use('table', function () {
      var table = layui.table;

      table.render({
        elem: '#table'
        , cols: [
          [
            {field: 'name', title: '参数名称', align: 'center', style: 'height:60px;', templet: '#nameTpl'}, //width 支持：数字、百分比和不填写。你还可以通过 minWidth 参数局部定义当前单元格的最小宽度，layui 2.2.1 新增
            {field: 'val', title: '参数值', align: 'center', style: 'height:60px;', templet: '#valTpl'}
          ]]
        , data: [
          {name: 'test07', val: '123'},
          {name: 'test08', val: '456'}
        ]
      });

      //监听工具条
      table.on('tool(table)', function (obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
        var data = obj.data; //获得当前行数据
        var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
        var tr = obj.tr; //获得当前行 tr 的 DOM 对象（如果有的话）
        switch (layEvent) {
          case 'del':
            break;
          case 'edit':
            break;
        }
      });
    });
    // ie8修改start
    (function(){
        //表单
        layui.use(['form', 'layedit', 'laydate'], function () {
            var form = layui.form;
        });
    })()
    // ie8修改end
  </script>
</body>
</html>